<h2>My SuperPowers</h2> 
<ul class="superpowers">
                <!--    For por cada heroe, cuando la fila es la misma que el heroe seleccionado angular le coloca la clase selected css, cuando son diferentes angular elimina la clase -->
                <li *ngFor="let superpower of superpowers"
                    [class.selected]="superpower === selectedSuperpower"
                    (click)="onSelect(superpower)">
                    <span class="badge">{{superpower.id}}</span> {{superpower.name}}
                </li>
</ul>