
<div class="container"> 

    <div class="row"> 
        <div class="col-md-4">
            <h2>My Heroes</h2> 
            <a (click)="showToggle()"href="#" class="btn btn-primary">
                <div *ngIf="show; else elseBlock"><span    class="glyphicon glyphicon-eye-close"></span> &nbsp;Hide</div>
                <ng-template #elseBlock><span  class="glyphicon glyphicon-eye-open"></span>&nbsp;Show</ng-template>
            </a>
            <ul class="heroes" *ngIf="show">
                <!--    For por cada heroe, cuando la fila es la misma que el heroe seleccionado angular le coloca la clase selected css, cuando son diferentes angular elimina la clase -->
                <li *ngFor="let hero of heroes"
                    [class.selected]="hero === selectedHero"
                    (click)="onSelect(hero)">
                
                    <span  class="badge">{{hero.id}}</span> {{hero.name}}<img src="../../../assets/checked.png" *ngIf="hero.pet"  >
                
                </li>
            </ul>
        </div>
        
        
        
    </div>
</div>

<div class="container"> 
    
    <div class="row"> 
        
        <div class="col-md-4">          
<h2>Hero Details</h2>
        <app-hero-detail [hero]="selectedHero"></app-hero-detail>
        </div>
</div>

<link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css">
<script src="../../node_modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>