
<div class="container"> 

    <div class="row"> 
          <div class="col-md-4">
              <h2>My Heroes</h2>
            <ul class="heroes">
                <!--    For por cada heroe, cuando la fila es la misma que el heroe seleccionado angular le coloca la clase selected css, cuando son diferentes angular elimina la clase -->
                <li *ngFor="let hero of heroes"
                    [class.selected]="hero === selectedHero"
                    (click)="onSelect(hero)">
                    <span class="badge">{{hero.id}}</span> <span class="name"> {{hero.name}}</span> <img src="../../../assets/checked.png" *ngIf="hero.pet" >
                </li>
            </ul>
        </div>
        
        
          <div class="col-md-4">
        <app-pets (messageEvent)="receiveMessage($event)"></app-pets>
        </div>
         <div class="col-md-4">
        <app-superpower></app-superpower>
        </div>
    </div>
</div>

<div class="container"> 
    
    
    <button (click)="newAssign()">New Assign All</button>
    
    <button (click)="newAssign()">New Assign</button>  
    
    <button (click)="deleteAll()">Delete All</button> 
    <div class="row"> 
        
        <div class="col-md-4">          
<h2>Hero Details</h2>
        <app-hero-detail [hero]="selectedHero"></app-hero-detail>
        </div>
        
        <div class="col-md-4">
            
<h2> Pet Details</h2>
        <app-pet-detail [pet]="selectedPet"></app-pet-detail>
        </div>
        
        <div class="col-md-4">
            

</div>