<head>
  

  <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css">
  <script src="../../node_modules/bootstrap/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
  
  
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <a class="navbar-brand" href="#">
      <img src="../assets/superheroe.png" width="30" height="30" alt="">
      {{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/dashboard" href="#">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/heroes" href="#">Heroes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/pets" href="#">Pets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/assign" href="#">Assign </a>
        </li>
      </ul>
    </div>
  </nav>

  
  <router-outlet></router-outlet>